# Virtual environments
venv/
.venv/
env/
.env

.vscode/

# Dependencies
node_modules/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3
*.db

# Excel files
*.xlsx

*.pdf