@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@400;600;700;800&family=Raleway:wght@400;500;600;700;800&family=Voces&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #007bff;
  --color-secondary: #6c757d;

  --font-raleway: "Raleway", sans-serif;
  --font-voces: "Voces", sans-serif;
  --font-biryani: "Biryani", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Biryani", sans-serif;
  background: #f5f7fb;
}